/*
* Style Works for Editor Only
*/
.wp-block-aab-group-accordion {
	border: 1px dashed #cccc;
	padding: 15px 15px 30px 15px !important;
	.wp-block-aab-accordion-item {
		.block-list-appender {
			left: auto !important;
			right: 0;
			margin-left: 0 !important;
		}
	}
	.block-list-appender {
		left: 50% !important;
		right: auto;
		margin-left: -12px !important;
	}
	[aria-label="Add Single Accordion"] {
		border-radius: 50% !important;
		position: absolute;
		bottom: -35px !important;
	}
}
