/*
* Style Works for both Editor and Frontend
*/
.wp-block-aab-accordion-item {
	overflow: hidden;
	.aagb__accordion_head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;

		// header icon
		.aagb__accordion_icon {
			width: 20px;
			height: 20px;
			border-radius: 50%;
		}

		// header icon position
		&.aagb_right_icon {
			// justify-content: space-between;
			flex-direction: row;
		}
		&.aagb_left_icon {
			// justify-content: flex-end;
			flex-direction: row-reverse;
		}

		// heading
		.aagb__accordion_heading {
			&.aagb_right_icon {
				margin-right: 20px;
				flex: 1;
			}
			&.aagb_left_icon {
				margin-left: 20px;
				flex: 1;
			}
		}
	}

	.collapse-icon span {
		display: block;
	}

	.aagb__accordion_body {
		display: none;
		// &.aagb__accordion_body--show {
		// 	display: block;
		// }
	}
}
